<form [formGroup]="form" (ngSubmit)="submit()">
    <h2>
        Login as Administrator
    </h2>

    <div class="form-control">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input id="email" type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com">
            <mat-error *ngIf="form.get('email')?.errors?.['email']">Please enter a valid email address</mat-error>
            <mat-error *ngIf="form.get('email')?.errors?.['required']">Email is required</mat-error>
        </mat-form-field>
    </div>

    <div class="form-control">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input id="password" type="password" matInput formControlName="password" [errorStateMatcher]="matcher">
            <mat-error *ngIf="form.get('password')?.errors?.['required']">Password is required</mat-error>
            <mat-error *ngIf="form.get('password')?.errors?.['minlength']">
                Password must be at least {{form.get('password')?.errors?.['minlength'].requiredLength}} characters.
                <!-- Now he {{form.get('password')?.errors?.['minlength'].actualLength}} -->
            </mat-error>
        </mat-form-field>
    </div>

    <button type="submit" mat-button class="btn btn-primary btn-block btn-dark" [disabled]="form.invalid  || submitted">Login</button>
</form>